{% extends 'base.html' %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block bodyclass %}template-blogindexpage{% endblock bodyclass %}

{% block content %}
    {{ page.intro|richtext }}

    {% for post in blogpages %}
        <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>
        {% with post=post.specific %}
            {% image post.main_image fill-50x50 %}
            <p>{{ post.intro }}</p>
            {{ post.body|richtext }}
        {% endwith %}
    {% endfor %}

{% endblock content %}
